<configuration>
 <appSettings>
  <!--
  All appSettings are made available to your Node.js app via environment 
  variables
  You can access them in your app through the process.env object.
            
  process.env.<key>
  -->
  <add key="NEXT_PUBLIC_API_ADDRESS" value="http://192.168.1.33:8033" />
 </appSettings>
 <system.webServer>
   <iisnode node_env="production"
                 loggingEnabled="true"
                 logDirectory="iisnode"
                 debuggingEnabled="true"
                />
  <handlers>
   <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
  </handlers>
  <rewrite>
   <rules>
    <rule name="kiaGheshmUi">
     <match url="/*" />
     <action type="Rewrite" url="server.js" />
    </rule>
   </rules>
  </rewrite>
  <directoryBrowse enabled="false"/>
 </system.webServer>
</configuration>