@font-face {
  font-family: Vazir;
  src: url("../../public/fonts/ttf/Vazirmatn-Regular.ttf");
  src: url("../../public/fonts/ttf//Vazirmatn-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: Vazir !important;
}
